@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: black;
}

button, input {
  border: none;
  background: none;
  outline: none;
}

.section-1 {
  width: 100%;
  height: 130vh;
  background-image: url(../../img/back.png);
  align-items: center;
  background-position: center;
  background-size: cover;
}
.section-1 header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
}
.section-1 header .logo p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.section-1 header .nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.section-1 header .nav a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.section-1 header .search {
  display: flex;
  width: 100px;
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #FFFFFF;
}
.section-1 .page1 {
  margin: 0 auto;
  margin-top: 10%;
  width: 864px;
}
.section-1 .page1 .title-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  margin-bottom: 30px;
}
.section-1 .page1 .title-1 .line-1 {
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #FFC178;
}
.section-1 .page1 .title-1 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FFC178;
}
.section-1 .page1 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.section-1 .page1 p span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 88px;
  line-height: 100px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.section-1 .down {
  width: 130px;
  margin: 0 auto;
  margin-top: 118px;
  align-items: center;
  text-align: center;
}
.section-1 .down a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.section-2 {
  background: black;
  margin: 0 auto;
  margin-top: 5%;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.section-2 .left-content {
  width: 50%;
}
.section-2 .right-content {
  margin-top: 50px;
  width: 50%;
  margin-left: 50px;
}
.section-2 .right-content .title-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section-2 .right-content .title-2 .line-1 {
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #FFC178;
}
.section-2 .right-content .title-2 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.section-2 .right-content .text-2 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #FFFFFF;
}
.section-2 .right-content .text-2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.section-2 .right-content .more {
  margin-top: 30px;
  width: 128px;
}
.section-2 .right-content .more a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}

.section-3 {
  width: 100%;
  height: 100%;
  background-color: #black;
}
.section-3 .bckg {
  border: solid;
  background-image: url(../../img/image3.png);
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 110vh;
  margin: 0 auto;
  margin-top: 5%;
}
.section-3 .bckg .logo-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17%;
  margin: 0 auto;
  margin-top: 31%;
  margin-bottom: 2%;
}
.section-3 .bckg .logo-3 .line-1 {
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #FFC178;
}
.section-3 .bckg .logo-3 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.section-3 .bckg .logo-3 .line-1 {
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #FFC178;
}
.section-3 .bckg .text-3 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.section-3 .bckg .text-3 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: #FFFFFF;
}
.section-3 .bckg .text-3 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
.section-3 .bckg .more-3 {
  width: 8%;
  margin: 0 auto;
  margin-top: 2%;
}
.section-3 .bckg .more-3 a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}

.section-4 {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5%;
}
.section-4 .left-content-4 {
  width: 50%;
  height: 100%;
  margin-top: 10%;
}
.section-4 .left-content-4 .title-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46%;
}
.section-4 .left-content-4 .title-4 .line-1 {
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #FFC178;
}
.section-4 .left-content-4 .title-4 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.section-4 .left-content-4 .content-4 {
  margin-top: 5%;
}
.section-4 .left-content-4 .content-4 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #FFFFFF;
}
.section-4 .left-content-4 .content-4 p {
  margin-top: 5%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.section-4 .left-content-4 .read_more_4 {
  margin-top: 5%;
}
.section-4 .left-content-4 .read_more_4 a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}

footer {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 5%;
}
footer .footer-1 {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
}
footer .footer-1 .logo-footer {
  width: 30%;
  align-items: center;
}
footer .footer-1 .logo-footer a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}
footer .footer-1 .nav_footer {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-1 .nav_footer a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
footer .footer-1 .nav_footer button {
  width: 240px;
  height: 70px;
  background: #FFA343;
  border-radius: 8px;
}
footer .footer-1 .nav_footer button a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}
footer .footer-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10%;
  height: 246px;
}
footer .footer-2 .left_footer {
  width: 50%;
}
footer .footer-2 .left_footer .block-1 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
footer .footer-2 .left_footer .block-2 {
  width: 80%;
  margin-top: 10%;
  border-bottom: 1px solid #fff;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
footer .footer-2 .right_footer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
footer .footer-2 .right_footer .services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91%;
}
footer .footer-2 .right_footer .services h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: -0.231818px;
  color: #FFD1A0;
}
footer .footer-2 .right_footer .services a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
}
footer .footer-2 .right_footer .about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91%;
}
footer .footer-2 .right_footer .about h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: -0.231818px;
  color: #FFD1A0;
}
footer .footer-2 .right_footer .about a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
}
footer .footer-2 .right_footer .help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 56%;
}
footer .footer-2 .right_footer .help h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: -0.231818px;
  color: #FFD1A0;
}
footer .footer-2 .right_footer .help a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
}
footer .footer-3 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10%;
}
footer .footer-3 .left-footer-3 {
  display: flex;
  justify-content: space-between;
  width: 25%;
  align-items: center;
}
footer .footer-3 .left-footer-3 a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
}
footer .footer-3 .right-footer-3 {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
}
footer .footer-4 {
  width: 15%;
  margin: 0 auto;
  margin-top: 6%;
}
footer .footer-4 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1700px) {
  .section-1 .page1 p span {
    font-size: 70px;
  }
}
@media (max-width: 890px) {
  .section-1 .page1 {
    width: 700px;
  }
}
@media (max-width: 760px) {
  .section-1 header .nav {
    width: 300px;
  }
}
@media (max-width: 720px) {
  .section-1 .page1 {
    width: 600px;
  }

  .section-1 .page1 p span {
    font-size: 60px;
  }
}
@media (max-width: 630px) {
  .section-1 .page1 p {
    font-size: 70px;
  }

  .section-1 .page1 p span {
    font-size: 50px;
  }

  .section-1 .page1 {
    width: 500px;
  }

  .section-1 .page1 .title-1 h2 {
    font-size: 10px;
  }

  .section-1 .page1 .title-1 {
    width: 400px;
  }

  .section-1 .page1 .title-1 .line-1 {
    display: none;
  }

  .section-1 .page1 .title-1 {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .section-1 header .nav {
    display: none;
  }

  .section-1 .page1 {
    width: 350px;
  }

  .section-1 .page1 .title-1 {
    width: 300px;
  }

  .section-1 .page1 p span {
    font-size: 30px;
  }
}
@media (max-width: 370px) {
  .section-1 .page1 {
    width: 300px;
  }

  .section-1 .page1 p {
    font-size: 50px;
  }

  .section-1 .page1 p span {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .section-1 .page1 .title-1 {
    width: 200px;
  }

  .section-1 .page1 {
    width: 200px;
  }

  .section-1 .page1 p {
    font-size: 30px;
  }

  .section-1 .page1 p span {
    font-size: 15px;
  }
}
@media (max-width: 240px) {
  .section-1 header .logo {
    display: none;
  }

  .section-1 .page1 .title-1 h2 {
    font-size: 8px;
    width: 150px;
  }
}
@media (max-width: 220px) {
  .section-1 .page1 {
    width: 150px;
  }

  .section-1 .page1 p {
    font-size: 20px;
  }

  .section-1 .page1 p span {
    font-size: 10px;
  }
}
@media (max-width: 1410px) {
  .section-2 .left-content img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
