@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Open+Sans:wght@400;600;700&display=swap')
*
    margin: 0
    padding: 0
    border: none
    text-decoration: none
    box-sizing: border-box
@mixin nav()
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: #FFFFFF
@mixin logo()
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 33px
    letter-spacing: 0.01em
    text-transform: capitalize
    color: #FFFFFF

body
    background: black
button, input
    border: none
    background: none
    outline: none
.section-1
    width: 100%
    height: 130vh
    background-image: url(../../img/back.png)
    align-items: center
    background-position: center
    background-size: cover
    header
        width: 90%
        margin: 0 auto
        display: flex
        justify-content: space-between
        height: 95px
        align-items: center
        .logo
            p
                @include logo()
        .nav
            display: flex
            justify-content: space-between
            width: 40%
            a
                @include nav()
        .search
            display: flex
            width: 100px
            align-items: center
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 400
            font-size: 17px
            line-height: 23px
            color: #FFFFFF
    .page1
        margin: 0 auto
        margin-top: 10%
        width: 864px
        .title-1
            display: flex
            align-items: center
            justify-content: space-between
            width: 520px
            margin-bottom: 30px
            .line-1
                width: 72px
                height: 2px
                left: 0px
                top: 10px
                background: #FFC178
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 25px
                letter-spacing: 6px
                text-transform: uppercase
                color: #FFC178
        p
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 700
            font-size: 96px
            line-height: 100px
            text-transform: capitalize
            color: #FFFFFF
            span
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 400
                font-size: 88px
                line-height: 100px
                text-transform: capitalize
                color: #FFFFFF
    .down
        width: 130px
        margin: 0 auto
        margin-top: 118px
        align-items: center
        text-align: center
        a
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 600
            font-size: 18px
            line-height: 25px
            color: #FFFFFF
.section-2
    background: black
    margin: 0 auto
    margin-top: 5%
    width: 90%
    height: 100%
    display: flex
    justify-content: space-between
    .left-content
        width: 50%
    .right-content
        margin-top: 50px
        width: 50%
        margin-left: 50px
        .title-2
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%

            .line-1
                width: 72px
                height: 2px
                left: 0px
                top: 10px
                background: #FFC178
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 25px
                letter-spacing: 6px
                text-transform: uppercase
                color: #FBD784
        .text-2
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 64px
                line-height: 87px
                color: #FFFFFF
            p
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 18px
                line-height: 32px
                color: #FFFFFF
        .more
            margin-top: 30px
            width: 128px
            a
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 25px
                color: #FBD784
.section-3
    width: 100%
    height: 100%
    background-color: #black
    .bckg
        border: solid
        background-image: url(../../img/image3.png)
        background-position: center
        background-size: cover
        width: 90%
        height: 110vh
        margin: 0 auto
        margin-top: 5%
        .logo-3
            display: flex
            align-items: center
            justify-content: space-between
            width: 17%
            margin: 0 auto
            margin-top: 31%
            margin-bottom: 2%
            
            .line-1
                width: 72px
                height: 2px
                left: 0px
                top: 10px
                background: #FFC178
            p
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 25px
                letter-spacing: 6px
                text-transform: uppercase
                color: #FBD784
            .line-1
                width: 72px
                height: 2px
                left: 0px
                top: 10px
                background: #FFC178
    
        .text-3
            width: 70%
            margin: 0 auto
            text-align: center
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 64px
                line-height: 87px
                text-align: center
                color: #FFFFFF
            p
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 18px
                line-height: 32px
                text-align: center
                color: #FFFFFF
        .more-3
            width: 8%
            margin: 0 auto
            margin-top: 2%
            a
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 25px
                color: #FBD784
.section-4
    width: 90%
    height: 100%
    display: flex
    justify-content: space-between
    margin: 0 auto
    margin-top: 5%
    .left-content-4
        width: 50%
        height: 100%
        margin-top: 10%
        .title-4
            display: flex
            justify-content: space-between
            align-items: center
            width: 46%
            .line-1
                width: 72px
                height: 2px
                left: 0px
                top: 10px
                background: #FFC178
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 25px
                letter-spacing: 6px
                text-transform: uppercase
                color: #FBD784
        .content-4
            margin-top: 5%
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 64px
                line-height: 87px
                color: #FFFFFF
            p
                margin-top: 5%
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 400
                font-size: 18px
                line-height: 32px
                color: #FFFFFF
        .read_more_4
            margin-top: 5%
            a
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 25px
                color: #FBD784
footer
    width: 90%
    height: 100vh
    margin: 0 auto
    margin-top: 5%
    .footer-1
        height: 250px
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid #FFFFFF
        
        .logo-footer
            width: 30%
            align-items: center
            a
                @include logo()
        .nav_footer
            width: 35%
            display: flex
            justify-content: space-between
            align-items: center

            a
                font-family: 'DM Sans'
                font-style: normal
                font-weight: 400
                font-size: 22px
                line-height: 29px
                letter-spacing: -0.3px
                color: #FFFFFF
            button
                width: 240px
                height: 70px
                background: #FFA343
                border-radius: 8px
                a
                    font-family: 'DM Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 17px
                    line-height: 22px
                    color: #000000
    .footer-2
        display: flex
        justify-content: space-between
        width: 100%
        margin-top: 10%
        height: 246px

        .left_footer
            width: 50%
            .block-1
                p
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 36px
                    line-height: 49px
                    letter-spacing: -0.3px
                    color: #FFFFFF
            .block-2
                width: 80%
                margin-top: 10%
                border-bottom: 1px solid #fff
                align-items: center
                justify-content: space-between
                display: flex
        .right_footer
            width: 50%
            display: flex
            justify-content: space-between

            .services
                display: flex
                flex-direction: column
                justify-content: space-between
                height: 91%
                h2
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 20px
                    line-height: 0px
                    letter-spacing: -0.231818px
                    color: #FFD1A0
                a
                        font-family: 'Open Sans'
                        font-style: normal
                        font-weight: 400
                        font-size: 19px
                        line-height: 0px
                        letter-spacing: -0.204545px
                        color: #FFFFFF


            .about
                display: flex
                flex-direction: column
                justify-content: space-between
                height: 91%
                h2
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 20px
                    line-height: 0px
                    letter-spacing: -0.231818px
                    color: #FFD1A0
                a
                        font-family: 'Open Sans'
                        font-style: normal
                        font-weight: 400
                        font-size: 19px
                        line-height: 0px
                        letter-spacing: -0.204545px
                        color: #FFFFFF
                
            .help
                display: flex
                flex-direction: column
                justify-content: space-between
                height: 56%
                h2
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 20px
                    line-height: 0px
                    letter-spacing: -0.231818px
                    color: #FFD1A0
                a
                        font-family: 'Open Sans'
                        font-style: normal
                        font-weight: 400
                        font-size: 19px
                        line-height: 0px
                        letter-spacing: -0.204545px
                        color: #FFFFFF
    .footer-3
        width: 90%
        display: flex
        justify-content: space-between
        margin: 0 auto
        margin-top: 10%
        .left-footer-3
            display: flex
            justify-content: space-between
            width: 25%
            align-items: center
            a
                font-family: 'DM Sans'
                font-style: normal
                font-weight: 400
                font-size: 15px
                line-height: 20px
                letter-spacing: -0.204545px
                color: #FFFFFF

        .right-footer-3
            display: flex
            justify-content: space-between
            width: 15%
            align-items: center
    .footer-4
        width: 15%
        margin: 0 auto
        margin-top: 6%
        p
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 600
            font-size: 18px
            line-height: 32px
            text-align: center
            color: #FFFFFF
@media  (max-width: 1700px)
    .section-1 .page1 p span
        font-size: 70px
@media  (max-width: 890px)
    .section-1 .page1
        width: 700px

@media  (max-width:760px)
    .section-1 header .nav
        width: 300px
@media  (max-width: 720px)
    .section-1 .page1
        width: 600px
    .section-1 .page1 p span
        font-size: 60px
        
@media  (max-width: 630px)
    .section-1 .page1 p
        font-size: 70px
    .section-1 .page1 p span
        font-size: 50px
    .section-1 .page1
        width: 500px
    .section-1 .page1 .title-1 h2
        font-size: 10px
    .section-1 .page1 .title-1
        width: 400px
    .section-1 .page1 .title-1 .line-1
        display: none
    .section-1 .page1 .title-1
        width: 100%
@media ( max-width: 530px )
    .section-1 header .nav
        display: none
    .section-1 .page1
        width: 350px
    .section-1 .page1 .title-1
        width: 300px
        
    .section-1 .page1 p span
        font-size: 30px
@media  (max-width: 370px)
    .section-1 .page1 
        width: 300px
    .section-1 .page1 p
        font-size: 50px
    .section-1 .page1 p span
        font-size: 30px
@media  (max-width: 320px)
    .section-1 .page1 .title-1
        width: 200px
    .section-1 .page1
        width: 200px
    .section-1 .page1 p
        font-size: 30px
    .section-1 .page1 p span
        font-size: 15px
@media  (max-width: 240px)
    .section-1 header .logo
        display: none
    .section-1 .page1 .title-1 h2
        font-size: 8px
        width: 150px

@media  (max-width: 220px)
    .section-1 .page1
        width: 150px
    .section-1 .page1 p
        font-size: 20px
    .section-1 .page1 p span
        font-size: 10px


@media ( max-width: 1410px  )
    .section-2 .left-content img
        width: 100%
        
    

    












